html, body {
    padding : 0;
    margin  : 0;
    height  : 100%;
}

:root {
    --demo-color-1: #006080;
    --demo-color-2: #CCCCCC;
    --demo-color-3: #FFFFFF;
    --demo-color-4: #d0beaf;

    --demo-color-text : #333;
}
    :root .dark-theme {
        --demo-color-1: #006080;
        --demo-color-2: #000000;
        --demo-color-3: #222222;
        --demo-color-4: #000000;

        --demo-color-text : #cecece;
    }

    :root .light-theme {
        /* Default */
    }
/************************************************/

.app {
    font-family : arial;
    color       : var(--demo-color-text);
    padding     : 0;
    height      : 100%;
    background-color: var(--demo-color-3);
}
    .app a {
        color           : var(--demo-color-1);
        text-decoration : none;
    }
    .app a:hover {
        text-decoration : underline;
    }
    .app .header {
        padding          : 20px 40px;
        background-color : var(--demo-color-1);
        height: 120px;
        color            : var(--demo-color-2);
    }
        .app .header > .right {
            text-align : right;
            flex       : none;
        }
    .app .header a {
        color : var(--demo-color-4);
    }
        .app .page h3 {
            color : #aa7355;
        }

    .app .pages {
        height: 100%;
    }

.app .sidebar {
    padding          : 10px 20px;
    background-color : var(--demo-color-2);
    flex             : none;
}
    .app .sidebar > * {
        flex: none;
    }
