@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
	box-sizing : border-box;
}

html, body {
    padding : 0;
    margin  : 0;
    height  : 100%;
}

:root {
    
    --svg-btn-close-sm : url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgNyA3IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSA2TDYgMSIgc3Ryb2tlPSIjRTdFN0U3IiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPHBhdGggZD0iTTYgNkwxIDEiIHN0cm9rZT0iI0U3RTdFNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
    --svg-arrow-prev   : url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNNCAxLjAwMDk4TDEuMjc4OTEgNC4xNzU1OEMxLjExODQxIDQuMzYyODMgMS4xMTg0MiA0LjYzOTEzIDEuMjc4OTEgNC44MjYzN0w0IDguMDAwOTgiIHN0cm9rZT0iI0U3RTdFNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
    --svg-arrow-next   : url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgNSA5IiBmaWxsPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgo8cGF0aCBkPSJNMSA4LjAwMDk4TDMuNzIxMDkgNC44MjYzN0MzLjg4MTU5IDQuNjM5MTMgMy44ODE1OSA0LjM2MjgzIDMuNzIxMDkgNC4xNzU1OEwxIDEuMDAwOTgiIHN0cm9rZT0iI0U3RTdFNyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+Cjwvc3ZnPgo=');
}

.app {
    font-family : arial;
    color       : #333;
    padding     : 0;
    height      : 100%;
}
    .app a {
        color           : #006080;
        text-decoration : none;
    }
    .app a:hover {
        text-decoration : underline;
    }
    .app .header {
        padding          : 20px 40px;
        background-color : #006080;
        color            : #FFF;
    }
    .app .header a {
        color : #d0beaf;
    }
        .app .page h3 {
            color : #aa7355;
        }

.app .sidebar {
    padding          : 10px 20px;
    background-color : #CCC;
    flex             : none;
}
    .app .sidebar > * {
        flex: none;
    }
