.components-page {}

	.components-page .body {
		padding: 30px 60px;
	}
	.components-page .body > * {
		display: block;
	}

	.components-page .body .text-highlight textarea {
		padding : 20px;
		width   : 400px;
		height  : 100px;
		margin  : 0 0 20px 0;
	}

    .components-page .body .text-position-highlight textarea {
		padding : 20px;
		width   : 400px;
		height  : 300px;
		margin  : 0 0 20px 0;
	}