.components-page {}

	.components-page .body {
		min-width  : 0;
		padding    : 30px 60px;
		overflow-y : auto;
	}

	.components-page .body > * {
		display   : block;
		max-width : 100%;
	}

	.components-page .body .text-highlight textarea {
		padding : 20px;
		width   : 400px;
		height  : 100px;
		margin  : 0 0 20px 0;
	}

    .components-page .body .text-position-highlight textarea {
		padding : 20px;
		width   : 400px;
		height  : 300px;
		margin  : 0 0 20px 0;
	}