.button,
.button.primary {
	height           : 32px;
	background-color : var(--puer-bg-color-btn);
	display          : inline-block;
	border           : 2px solid var(--puer-bg-color-btn);
	color            : var(--puer-color-btn );
	font-family      : var(--font-label);
	font-size        : var(--font-size-hi);
	font-weight      : 500;
	line-height      : 20px;
	letter-spacing   : 0em;
	text-align       : center;
	text-decoration  : none !important;
	border-radius    : 2px;
	padding          : 5px 19px;
	margin           : 2px;
	white-space      : nowrap;
	transition       : all 0.15s ease-in-out;
}
	.button:hover,
	.button.primary:hover {
		background-color : var(--puer-bg-color-btn-hover);
		border-color     : var(--puer-bg-color-btn-hover);
	}
	.button:active,
	.button.primary:active {
		color            : var(--puer-color-btn-active);
		background-color : var(--puer-bg-color-btn-active);
		border-color     : var(--puer-bg-color-btn-active);
	}

.button.secondary {
	background-color : var(--puer-bg-color-btn-secondary);
	border           : 2px solid var(--puer-bg-color-btn);
	color            : var(--puer-color-btn );
}
	.button.secondary:hover {
		background-color : var(--puer-bg-color-btn-secondary-hover);
		color            : var(--puer-color-btn-secondary-hover);
	}
	.button.secondary:active {
		background-color : var(--puer-bg-color-btn-secondary-active);
		color            : var(--puer-color-btn-secondary-active);
	}

.button.neutral,
.button.neutral.primary {
	background-color : var(--puer-bg-color-btn-neutral);
	border-color     : var(--puer-bg-color-btn-neutral);
	color            : var(--puer-color-btn );
	font-size        : var(--font-size-lo);
	line-height      : 17px;
}
	.button.neutral:hover,
	.button.neutral.primary:hover {
		background-color : var(--puer-bg-color-btn-neutral-hover);
		border-color     : var(--puer-bg-color-btn-neutral-hover);
		color            : var(--puer-color-btn );
		font-size        : var(--font-size-lo);
	}
	.button.neutral:active,
	.button.neutral.primary:active {
		background-color : var(--puer-bg-color-btn);
		border-color     : var(--puer-bg-color-btn);
	}

.button.neutral.secondary {
	background-color : var(--puer-bg-color-btn-secondary-neutral);
	border-color     : var(--puer-bg-color-btn-neutral-hover);
	color            : var(--puer-color-btn-secondary-neutral);
	font-size        : var(--font-size-lo);
}
	.button.neutral.secondary:hover {
		background-color : var(--puer-bg-color-btn-secondary-neutral-hover);
		color            : var(--puer-color-btn-secondary-neutral-hover);
	}
	.button.neutral.secondary:active {
		background-color : var(--puer-bg-color-btn-secondary-neutral-active);
		border-color     : var(--puer-bg-color-btn);
		color            : var(--puer-color-btn-secondary-neutral-hover);
	}

.button.disabled,
.button.disabled:hover,
.button.disabled:active {
	background-color    : var(--puer-bg-color-btn-disabled);
	border-color        : var(--puer-bg-color-btn-disabled);
	color               : var(--puer-color-btn-disabled);
	pointer-events      : none;
	user-select         : none;
    -moz-user-select    : none;
    -webkit-user-select : none;
    -ms-user-select     : none;
}

.button.btn-share {
	height     : 29px;
	padding    : 6px 8px 6px 30px;
	background : var(--puer-svg-share-icon) 8px center no-repeat, var(--puer-bg-color-btn);
}
	.button.btn-share:hover {
		background : var(--puer-svg-share-icon) 8px center no-repeat, var(--puer-bg-color-btn-hover);
	}

	.button.btn-share.disabled,
	.button.btn-share.disabled:hover,
	.button.btn-share.disabled:active {
		background : var(--puer-svg-share-icon-disabled) 8px center no-repeat, var(--puer-bg-color-btn-disabled);
	}