.form-input {
	border-bottom : 1px solid #2F4155;
	display       : flex;
}
	.form-input:focus-within {
		border-color: #6EA7E0;
	}
	.form-input>* {
		display : inline-block;
	}
	.form-input>input,
	.form-input>select,
	.form-input>textarea {
		border-width     : 0;
		padding          : 5px 0;
		background-color : transparent;
		width            : 100%;
		box-sizing       : border-box;
		font-family      : Inter, sans-serif;
		font-size        : 14px;
		font-weight      : 400;
		color            : #E7E7E7;
	}
		.form-input>input:focus,
		.form-input>select:focus,
		.form-input>textareas:focus {
			outline : none;
		}
		.form-input>input::placeholder,
		.form-input>select::placeholder,
		.form-input>textarea::placeholder {
			font-family    : Inter, sans-serif;
			font-size      : 14px;
			font-weight    : 200;
			line-height    : 20px;
			letter-spacing : 0em;
			text-align     : left;
		    color          : #263546;
		}

.form-input.confined {
	margin-top : 7px;
	border     : 1px solid #2F4155;
}
	.form-input.confined:focus-within {
		border-color: #6EA7E0;
	}
	.form-input.confined>input,
	.form-input.confined>select,
	.form-input.confined>textarea {
		padding          : 7px;
		background-color : rgba(0, 0, 0, 0.3);
	}

.error .form-input,
.error .form-input * {
	border-color: #EA7A7A !important;
}