.list-item {
    padding       : 10px 10px 8px 8px;
}   
    .list-item .highlight {
        background-color : #FFFFFF;
        color            : #F73308;
        display          : inline-block;
        border-radius    : 1px;
        padding          : 0 5px;
        font-weight      : bold;
    }

    .list-item.selected {
        /* background-color : #CCC;
        color            : #333; */
    }