.input-calendar {
	border   : 1px solid black;
	display  : block;
	height   : 40px;
	position : relative;
}
	.input-calendar > .calendar {
		top      : 40px;
		left     : 0;
		border   : 1px solid black;
		display  : inline-block;
		position : absolute;
	}
	.input-calendar > .calendar .today {
		font-weight : bold;
		color       : green;
	}