.form-field {
	width      : 100%;
	box-sizing : border-box;
}
	.form-field>.error {
		height        : 13px;
		white-space   : nowrap;     /* Prevents the text from wrapping to the next line */
    	overflow      : hidden;     /* Hides text that overflows the container's bounds */
    	text-overflow : ellipsis;   /* Replaces the end of the overflowed text with ellipsis */
		font-size     : 12px;
		font-family   : inter, sans-serif;
		color         : #EA7A7A;
	}
	.form-field>label {
		display        : block;
		font-family    : Inter, sans-serif;
		font-size      : 12px;
		font-weight    : 300;
		line-height    : 15px;
		letter-spacing : 0em;
		color          : #66798E;
	}
	.form-field>* {
		display : inline-block;
	}