.box {
    border       : 1px dashed #999;
    border-width : 1px 1px 0 0;
    display      : flex;
    overflow     : hidden;
    margin       : -1px -1px 0 0;
    padding      : 0;
    color        : #999;
}
.box.align {
    border-width: 1px;
}
