.button,
.button.primary {
	background-color : #07569E;
	border           : 2px solid #07569E;
	color            : #FFFFFF;
	font-family      : Inter, sans-serif;
	font-size        : 14px;
	font-weight      : 500;
	line-height      : 17px;
	letter-spacing   : 0em;
	text-align       : center;
	border-radius    : 2px;
	padding          : 7px 19px;
	margin           : 2px;
}
	.button:hover,
	.button.primary:hover {
		background-color : #0E76D5;
		border-color     : #0E76D5;
		text-decoration  : none;
	}
	.button:active,
	.button.primary:active {
		color            : #4C89C2;
		background-color : #06325B;
		border-color     : #06325B;
	}

.button.secondary {
	background-color : #000;
	border           : 2px solid #07569E;
}
	.button.secondary:hover {
		background-color : #081A2C;
		color            : #5798D4;
		text-decoration  : none;
	}
	.button.secondary:active {
		background-color : #072F54;
		color            : #62A9EA;
	}

.button.neutral,
.button.neutral.primary {
	background-color : #11171E;
	border-color     : #11171E;
	color            : #FFFFFF;
	font-size        : 12px;
}
	.button.neutral:hover,
	.button.neutral.primary:hover {
		background-color : #0C1015;
		border-color     : #0C1015;
		color            : #FFFFFF;
		font-size        : 12px;
	}
	.button.neutral:active,
	.button.neutral.primary:active {
		background-color : #07569F;
		border-color     : #07569F;
	}

.button.neutral.secondary {
	background-color : #202D3B;
	border-color     : #0C1015;
	color            : #B4B4B4;
	font-size        : 12px;
}
	.button.neutral.secondary:hover {
		background-color : #19232E;
		color            : #EFEFEF;
	}
	.button.neutral.secondary:active {
		background-color : #1D3C5B;
		border-color     : #07569F;
		color            : #EFEFEF;
	}

.button.disabled,
.button.disabled:hover,
.button.disabled:active{
	background-color : #303D4D;
	border-color     : #303D4D;
	color            : #535E6B;
	text-decoration  : none;
}