.form-input {
	display       : flex;
	align-items   : center;
	border-bottom : 1px solid var(--puer-border-color-form);
}
	.form-input:focus-within {
		border-color : var(--puer-border-color-form-focus);
	}
		.disabled .form-input {
			border-color : #2C2D31 !important;
		}
			.disabled .form-input > input,
			.disabled .form-input > select,
			.disabled .form-input > textarea {
				color   : #66798E !important;
				opacity : 1;
			}
	.form-input > * {
		display : inline-block;
	}

	.form-input > input,
	.form-input > select,
	.form-input > textarea {
		border-width     : 0;
		padding          : 5px 0;
		color            : var(--puer-text-color-hi);
        background-color : transparent;
		width            : 100%;
		box-sizing       : border-box;
		font-family      : Inter, sans-serif;
		font-size        : 14px;
		font-weight      : 400;
	}
	.form-input > textarea {
		resize : none;
	}
		.form-input > textarea::-webkit-scrollbar {
			width : 2px;
		}
		
		.form-input > textarea::-webkit-scrollbar-track {
			border-radius : 0;
			margin-top    : 3px;
			margin-bottom : 2px;
			background    : var(--puer-bg-color-lo);
		}
		
		.form-input > textarea::-webkit-scrollbar-thumb {
			background    : var(--puer-divider-color-hi);
			border-radius : 2px;
		}

		.form-input > input:focus,
		.form-input > select:focus,
		.form-input > textarea:focus {
			outline : none;
		}
		.form-input > input::placeholder,
		.form-input > select::placeholder,
		.form-input > textarea::placeholder {
			font-family    : Inter, sans-serif;
			font-size      : 14px;
			font-weight    : 200;
			line-height    : 20px;
			letter-spacing : 0em;
			text-align     : left;
		    color          : var(--puer-placeholder-color);
			opacity        : 1;
		}

		.form-input > input:focus::placeholder {
			opacity : 0;
		}
	
		.form-input > input:focus::-ms-input-placeholder {
			opacity : 0;
		}

		.form-input  .in-place-label {
			width: 100%;
			height: 100%;
			background-color: red;
		}

.form-input.confined {
	margin-top    : 7px;
	border        : 1px solid var(--puer-border-color-form);
	border-radius : 2px;

}
	.form-input.confined:focus-within {
		border-color : var(--puer-border-color-form-focus);
	}
	.disabled .form-input.confined {
		background-color : rgba(13, 14, 17, 1) !important;
	}
	.form-input.confined > input,
	.form-input.confined > select,
	.form-input.confined > textarea {
		padding          : 7px;
		background-color : rgba(0, 0, 0, 0.3);
	}

.error .form-input,
.error .form-input * {
	border-color : var(--puer-text-color-form-error) !important;
}