.input-calendar {
	font-family         : var(--font-label);
	width               : 252px;
	height              : 24px;
	position            : relative;
	-webkit-user-select : none; 
	-ms-user-select     : none; 
	user-select         : none; 
}
	.input-calendar > input {
		color: #FFF; /*TODO: make variable by design*/
	}

	.input-calendar > .after {
		width      : 17px;
		height     : 16px;
		background : var(--svg-calendar-icon) no-repeat;
	}

	.input-calendar > .calendar {
		position         : absolute;
		top              : 100%;
		left             : 0;
		height           : auto;
		width            : 100%;
		padding          : 12px 6px 9px 6px;
		color            : var(--text-color-hi);
		border-radius    : 2px;
		border           : 1px solid var(--border-color);
		background-color : var(--bg-color-lo);
		box-shadow       : 0px 0px 4px 0px rgba(0, 0, 0, 0.31);
	}
		.input-calendar > .calendar > .head {
			font-size     : var(--font-size-hi);
			align-items   : center;
			margin-bottom : 8px;
			padding       : 0 6px;
		}
			.input-calendar > .calendar > .head > div:first-child { /*TODO: add class to JS and remove first-child*/
				white-space : nowrap;
				user-select : none;
			}

			.input-calendar > .calendar > .head > div:nth-child(2) { /*TODO: add class to JS and remove nth-child(2)*/
				flex        : none;
				display     : flex;
				align-items : center;
			}
				.input-calendar > .calendar > .head > div:nth-child(2) > div { /*TODO: add class to JS and remove nth-child(2)*/
					display         : flex;
					justify-content : center;
					align-items     : center;
					width           : 20px;
					height          : 15px;
					cursor          : pointer;
					flex            : none;
					border-radius   : 1px;
				}
					.input-calendar > .calendar > .head > div:nth-child(2) > div:first	-child { /*TODO: add class to JS and remove first*/
						margin-right : 8px;
						background   : var(--svg-arrow-prev) center no-repeat, var(--bg-color-dark);
					}

					.input-calendar > .calendar > .head > div:nth-child(2) > div:last-child { /*TODO: add class to JS and remove :nth-child(2), last-child*/
						background : var(--svg-arrow-next) center no-repeat, var(--bg-color-dark);
					}

			.input-calendar > .calendar > .head > div:nth-child(3) { /*TODO: add class to JS and remove nth-child(3) */
				display         : flex;
				justify-content : center;
				align-items     : center;
				width           : 17px;
				height          : 15px;
				margin-left     : 19px;
				cursor          : pointer;
				flex            : none;
				border-radius   : 1px;
				background      : var(--svg-btn-close-sm) center no-repeat, var(--bg-color-dark);
			}
				
		.input-calendar > .calendar > .content {
			position : relative;
		}
			.input-calendar > .calendar > .content::before,
			.input-calendar > .calendar > .content::after {
				content          : '';
				position         : absolute;
				top              : 18px;
				height           : 90%;
				width            : 7px;
				background-color : var(--bg-color-lo);
				z-index          : 5;
			}	

			.input-calendar > .calendar > .content::before {
				left : 0;
			}

			.input-calendar > .calendar > .content::after {
				right : 0;
			}	

			.input-calendar > .calendar > .content > table {
				table-layout    : fixed;
				border-collapse : separate;
				border-spacing  : 0 0;
				font-size       : var(--font-size-lo);
				width           : 100%;
			}
				.input-calendar > .calendar > .content > table > tr > th {
					font-weight : 600;
					color       : var(--text-color-th);
					height      : 23px;
				}
					.input-calendar > .calendar > .content > table > tr > th:first-child { /*TODO: add class to JS and remove first-child*/
						padding-left : 4px;
					}

				.input-calendar > .calendar > .content > table > tr > td {
					height : 22px;
					cursor : pointer;
				}

		.input-calendar > .calendar ._day {
			text-align : center;
			position   : relative;
		}
			.input-calendar > .calendar ._day > span {
				display          : inline-flex;
				justify-content  : center;
				align-items      : center;
				width            : 20px;
				height           : 20px;
				border-radius    : 2px;
				background-color : transparent;
				position         : relative;
				z-index          : 5;
			}
				.input-calendar > .calendar ._day::before {
					position         : absolute;
					height           : 20px;
					left             : 0;
					right            : 0;
					z-index          : 4;
					content          : "";
					background-color : transparent;
					transition       : background-color .1s linear;
				}

		.input-calendar > .calendar .today > span {
			font-weight      : 700;
			color            : var(--text-color-today);
			background-color : var(--bg-color-light);
		}
			.input-calendar > .calendar .today.mid-range > span {
				color            : var(--text-color-hi);
				background-color : var(--bg-color-muted);
			}

		.input-calendar > .calendar .start-range > span,
		.input-calendar > .calendar .end-range > span {
			color            :var(--text-color-hi);
			background-color : var(--bg-color-selected);
		}

			.input-calendar > .calendar .selected.start-range.end-range::before {
				background-color : transparent;	
			}

			.input-calendar > .calendar .selected.start-range::before {
				left             : 50%;
				right            : 0;
				background-color : var(--bg-color-range);
			}
			.input-calendar > .calendar .selected.end-range::before {
				left             : 0;
				right            : 50%;
				background-color : var(--bg-color-range);
			}

		.input-calendar > .calendar .mid-range::before {
			background-color : var(--bg-color-range);
		}

		.input-calendar > .calendar .prev-month,
		.input-calendar > .calendar .next-month {
			color : var(--text-color-muted);
		}
