.input-toggle {
	display     : inline-block;
	font-family : Inter, sans-serif;
	font-weight : 400;
	margin      : 2px;
	cursor      : default;
	border      : none;
	font-size   : 12px;
}
	.input-toggle > .buttons {
		display          : flex;
		gap              : 1px;
		border           : 1px solid #263545;
		border-radius    : 2px;
		background-color : #263545;
	}
		.input-toggle > .buttons > .option {
			display          : inline-block;
			padding          : 6px 8px;
			color            : rgba(255, 255, 255, 0.29);
			margin           : 0;
			border-radius    : 1px;
			background-color : #141C25;
		}

		.input-toggle > .buttons > .option.selected {
			background-color : #0C1015;
			border-radius    : 1px;
			color            : #FFFFFF;
		}
	.disabled .input-toggle > .buttons {
	}
		.disabled .input-toggle > .buttons > .option {
		}