.search {
    flex   : none;
    margin : 12px 12px 10px 12px;
}
    .search .form-input.confined {
        margin-top    : 0;
        border        : 1px solid transparent;
        border-bottom : 1px solid transparent;
        background    : var(--bg-search);
    }
        .search .form-input.confined > input {
            background-color : transparent;
            height           : 38px;
            padding-left     : 12px;
            color            : var(--text-color-hi);
        }
            .search .form-input.confined > input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                font-size  : var(--font-size-lo);
                font-style : italic;
                color      : var(--placeholder-search-color);
                opacity    : 1;                                 /* Firefox */
            }
                .search .form-input.confined > input:focus::placeholder {
                    opacity : 0;                                          
                }

            .search .form-input.confined > input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                font-size  : var(--font-size-lo);
                font-style : italic;
                color      : var(--placeholder-search-color);
            }
                .search .form-input.confined > input:focus:-ms-input-placeholder {
                    opacity : 0;                                          
                }

            .search .form-input.confined > input::-ms-input-placeholder { /* Microsoft Edge */
                font-size  : var(--font-size-lo);
                font-style : italic;
                color      : var(--placeholder-search-color);
            }
                .search .form-input.confined > input:focus::-ms-input-placeholder {
                    opacity : 0;                                          
                }

        .search .form-input.confined > .after {
            height           : 16px;
            width            : 16px;
            margin-right     : 12px;
            flex             : none;
            background       : no-repeat center center transparent;
            background-color : transparent;
            background-image : var(--svg-lens-icon);
        }