.input-toggle {
	display     : inline-block;
	font-family : var(--puer-font-label);
	font-weight : 400;
	margin      : 2px;
	cursor      : default;
	border      : none;
	font-size   : var(--puer-font-size-lo);
}
	.input-toggle > .buttons {
		display          : flex;
		gap              : 1px;
		border           : 1px solid var(--puer-bg-color-toggle-box );
		border-radius    : 2px;
		background-color : var(--puer-bg-color-toggle-box );
	}
		.input-toggle > .buttons > .option {
			display          : inline-block;
			padding          : 6px 8px;
			color            : var(--puer-color-toggle);
			margin           : 0;
			border-radius    : 1px;
			border           : 1px solid var(--puer-border-color-toggle);
			background-color : var(--puer-bg-color-toggle);
			cursor           : pointer;
		}
			.input-toggle > .buttons > .option:hover {
				background-color : var(--puer-bg-color-toggle-hover);	
			}

		.input-toggle > .buttons > .option.selected {
			color            : var(--puer-color-toggle-selected);
			background-color : var(--puer-bg-color-toggle-selected);
			border-radius    : 1px;		
		}
			.input-toggle > .buttons > .option.eta {
				font-weight : 500;
			}
			
			.input-toggle > .buttons > .option.selected.eta {
				color            : var(--puer-color-toggle-selected-eta);
				border           : 1px solid var(--puer-border-color-toggle-selected-eta);
				background-color : var(--puer-bg-color-toggle-selected-eta);
			}

			.input-toggle > .buttons > .option.selected.spot {
				color            : var(--puer-color-toggle-selected-spot);
				border           : 1px solid var(--puer-border-color-toggle-selected-spot);
				background-color : var(--puer-bg-color-toggle-selected-spot);
			}

			.input-toggle > .buttons > .option.selected.fixed {
				color            : var(--puer-color-toggle-selected-fixed);
				border           : 1px solid var(--puer-border-color-toggle-selected-fixed);
				background-color : var(--puer-bg-color-toggle-selected-fixed);
			}

	.disabled .input-toggle > .buttons {
	}
		.disabled .input-toggle > .buttons > .option {
		}