.google-static-map {
    background-repeat: no-repeat;
    background-position: 0 0;
    position: relative;
    width: 600px;
    height: 400px;
}

.google-static-map > svg {
    position: relative;
    width: 100px;
    height: 100px;
    z-index: 1000;
    visibility: visible;
/*    background-color: #FFF;*/
}