.modal {
	display          : flex;
	justify-content  : center;
	align-items      : center;
	position         : fixed;
	top              : 0;
	left             : 0;
	width            : 100vw;
	height           : 100vh;
	z-index          : 1000; /* Ensuring it's above other content */
	background-color : var(--puer-bg-color-modal);
	backdrop-filter  : blur(10px);
}
	.modal > .content {
/*		background-color : white;*/
/*		border-radius    : 5px;*/
/*		box-shadow       : 0 4px 8px rgba(0, 0, 0, 0.1);*/
		max-width        : 90%; /* Optional: To ensure it doesn't stretch too much */
		max-height       : 90%; /* Optional: To ensure it doesn't stretch too much */
		overflow         : auto; /* For scrolling if the content is too large */
	}

	.modal > .close-btn {
		position : absolute;
		right    : 0;
		top      : 0;
	}