.input-select {
}
	.input-select > select {
		-moz-appearance     : none;
		-webkit-appearance  : none;
		appearance          : none;
		padding-left        : 0 !important;
		background-position : right 2px center;
		background-repeat   : no-repeat;
		background-image    : var(--svg-arrow-down);
		background-color    : transparent;
		background-size     : 20px 20px;
	}

		.input-select > select > option {
			background-color : #000;
		}