.input-calendar {
	border   : 1px solid black;
	display  : block;
	height   : 40px;
	position : relative;
}
	.input-calendar > .calendar {
		top      : 100%;
		left     : 0;
		width    : 100%;
		border   : 1px solid black;
		position : absolute;
	}
	.input-calendar > .calendar .today {
		font-weight : bold;
		color       : green;
	}

	.input-calendar > .calendar .selected {
		background-color: #ED980C !important;
	}

	.input-calendar > .calendar .selected-range {
		background-color: #FFC77F;
	}

	.input-calendar > .calendar .prev-month {
		color: #8683E1;
	}

	.input-calendar > .calendar .next-month {
		color: #9C1A1C;
	}