.input-search-select {
	position: relative;
}
	.input-search-select > .menu {
		margin: 0;
		padding: 0;
		position: absolute;
		top: 100%;
		left: 0;
		border: 1px solid black;
		min-height: 100px;
		width: 100%;
	}
