.pie-chart {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    clip: rect(0, 200px, 200px, 100px);
}

    .pie-chart > .segments > .segment {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        clip: rect(0, 100px, 200px, 0);
    }

    .pie-chart > .segments > .segment:nth-child(1) { background-color: var(--bg-color-piechart-segment-1); }
    .pie-chart > .segments > .segment:nth-child(2) { background-color: var(--bg-color-piechart-segment-2); }
    .pie-chart > .segments > .segment:nth-child(3) { background-color: var(--bg-color-piechart-segment-3); }
    .pie-chart > .segments > .segment:nth-child(4) { background-color: var(--bg-color-piechart-segment-1-more); }
    .pie-chart > .segments > .segment:nth-child(5) { background-color: var(--bg-color-piechart-segment-3-more); }
    .pie-chart > .segments > .segment:nth-child(6) { background-color: var(--bg-color-piechart-segment-2-more); }

    .doughnut-hole {
        position: absolute;
        top: 25px;
        left: 25px;
        width: 150px;
        height: 150px;
        background-color: #23252D;
        margin: auto;
        border-radius: 50%;
        z-index: 1;
    }
