.form-field {
	width      : 100%;
	box-sizing : border-box;
}
	.form-field > .error {
		display       : block;
		height        : 13px;
		white-space   : nowrap;     /* Prevents the text from wrapping to the next line */
    	overflow      : hidden;     /* Hides text that overflows the container's bounds */
    	text-overflow : ellipsis;   /* Replaces the end of the overflowed text with ellipsis */
		font-size     : var(--puer-font-size-lo);
		font-family   : var(--puer-font-label);
		line-height   : 1;
		color         : var(--puer-text-color-form-error);
	}
	.form-field > label {
		display        : block;
		font-family    : var(--puer-font-label);
		font-size      : var(--puer-font-size-lo);
		font-weight    : 300;
		line-height    : 15px;
		letter-spacing : 0em;
		color          : var(--puer-text-color-form-label);
		white-space    : nowrap;
	}
	.form-field > * {
		display : inline-block;
	}