*,:after,:before {
    -webkit-box-sizing : border-box;
    box-sizing         : border-box
}

.input-checkbox {
    position   : relative;
    width      : 22px;
    height     : 22px;
    align-self : center;
}
    .input-checkbox.form-input {
        border-bottom: none;
    }

    .input-checkbox > input {
        position : absolute;
        opacity  : 0;
        height   : 0;
        width    : 0;
        cursor   : pointer;
    }

    .input-checkbox > label {
        white-space : nowrap;
        color       : var(--puer-text-color-hi);
        cursor      : pointer;
        margin-left : 9px;
    }
        .input-checkbox > label::before {
            content           : '';
            position          : absolute;
            top               : 50%;
            left              : 50%;
            transform         : translate(-50%, -50%);
            -webkit-transform : translate(-50%, -50%);
            -ms-transform     : translate(-50%, -50%);
            width             : 20px;
            height            : 20px;
            border-radius     : 2px;
            border            : 1px solid var(--puer-border-color-checkbox);
            background-color  : var(--puer-bg-color-checkbox );
        }

        .input-checkbox > label::after {
            content           : '';
            position          : absolute;
            top               : 50%;
            left              : 50%;
            transform         : translate(-50%, -50%);
            -webkit-transform : translate(-50%, -50%);
            -ms-transform     : translate(-50%, -50%);
            width             : 10px;
            height            : 10px;
            border-radius     : 1px;
            background-color  : var(--puer-bg-color-checkmark);
            opacity           : 0;
        }

    .input-checkbox > input:checked+label::before {
        border : 1px solid var(--puer-border-color-checkbox-checked);
    }

    .input-checkbox > input:checked+label::after {
        opacity : 1;
    }