.pagination {
    display     : flex;
    align-items : center;
    flex        : none;
}
    .pagination a,
    .pagination a:hover {
        text-decoration: none!important;
    }

    .pagination > .prev {
        margin-right: 20px;
    }
        .pagination > .prev.disabled {
            pointer-events : none;
        }
        
        .pagination > .prev::after {
            content : '⟵';
            color   : var(--puer-pagination-color-hi);
        }         
            .pagination > .prev.disabled::after {
                color          : var(--puer-pagination-color-lo);
                pointer-events : none;
            }

    .pagination > .pages {
        font-family : var(--puer-font-text);
        font-size   : var(--puer-font-size-hi);
        display     : inline-flex;
        align-items : center;
        gap         : 6px;
        user-select : none;
    }
        .pagination > .pages > .current {
            color : var(--puer-text-color-hi);
        }

        .pagination > .pages > .divider {
            display       : inline-block;
            width         : 3px;
            height        : 3px;
            border-radius : 50%;
        }
        
        .pagination > .pages > .divider {
            background-color : var(--puer-pagination-color-lo);
        }

        .pagination > .pages > .total {
            color : var(--puer-pagination-color-lo);
        }

    .pagination > .next {
        margin-left : 20px;
    }
        .pagination > .next.disabled {
            pointer-events : none;
        }

        .pagination > .next::after {
            content : '⟶';
            color   : var(--puer-pagination-color-hi);
        }
            .pagination > .next.disabled::after {
                color : var(--puer-pagination-color-lo);
            }